<h1>infos-page works!</h1>

<mat-card>
    <ul class="list-group">
        <li class="list-group-item">-> <a routerLink="/infos/agenda">Agenda</a> : Page affichant les horaires habituels mais aussi les journées exceptionnelles de fermeture</li>
        <li class="list-group-item">-> <a routerLink="/infos/map">Map</a> : Page affichant l'adresse et le moyen de trouver un magasin</li>
        <li class="list-group-item">-> <a routerLink="/infos/contact">Contact</a> : Formulaire de contact</li>
    </ul>
</mat-card>
