table {
    padding: 15px;
    width:600px;
    height:400px;
    text-align: center;
    margin-left: 30%;
}

tr:first-child td {
    background-color: rgb(109, 109, 109);
    color:white;
}

td {
    border:1px solid black;
}

tr {
    border:1px solid black;
}