h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}

h2 {
    color:red;
    padding:15px;
}

li:hover {
    background-color: #EEEDED;
}

a {
    color:red;
    font-weight: bold;
}