<h1>Bienvenue</h1>
<hr/>

<h2>Plan du site : </h2>
<mat-card>
    <ul class="list-group">
        <li class="list-group-item"><a routerLink="/home">Page d'accueil</a> : Contient les liens vers les autres rubriques du site.</li>
        <li class="list-group-item"><a routerLink="/about">About</a> : Cette partie décrit pourquoi le local, ses avantages, quels sont les catégories de produits vendus</li>
        <li class="list-group-item"><a routerLink="/administration">Administration</a> : Page de connexion</li>
        <li class="list-group-item"><a routerLink="/infos">Infos</a> : Ensemble des informations du site :</li>
        <ul class="list-group">
            <li class="list-group-item">-> <a routerLink="/infos/agenda">Agenda</a> : Page affichant les horaires habituels mais aussi les journées exceptionnelles de fermeture</li>
            <li class="list-group-item">-> <a routerLink="/infos/map">Map</a> : Page affichant l'adresse et le moyen de trouver un magasin</li>
            <li class="list-group-item">-> <a routerLink="/infos/contact">Contact</a> : Formulaire de contact</li>
        </ul>
    </ul>
</mat-card>
