<div class="container">
    <div class="row">
    <div class="col-md-6 col-lg-6 col-xs-12 col-12">
      <div class="rubrique">
        <h2>Nous contacter : </h2>
      </div>
      <mat-card>
        <ul class="list-group">
          <li class="list-group-item">Numéro fixe :<span class="infosPerso"> 05 68 96 41 23</span> </li>
          <li class="list-group-item">Numéro portable : <span class="infosPerso"> 06 38 10 85 69</span></li>
          <li class="list-group-item">Email : <a class="infosPerso" href="mailto:a.lecoq2910@gmail.com"> a.lecoq2910@gmail.com</a></li>
        </ul>
      </mat-card>
    </div>
    <div class="col-md-6 col-lg-6 col-xs-12 col-12">
      <div class="rubrique">
        <h2>Faire une demande :</h2>
      </div>
      <mat-card>
        <form [formGroup]="form">
          <div class="form-group">
            <label for="email">Email : </label>
            <input type="email" class="form-control" id="email" required>
          </div>
          <div class="form-group">
            <label for="name">Name : </label>
            <input type="text" class="form-control" id="name" required>
          </div>
    
          <div class="form-group">
            <label for="texte">Description : </label>
            <textarea class="form-control" id="texte"></textarea>
          </div>
    
          <button type="submit" class="btn btn-success">Envoyer</button>
    
        </form>
      </mat-card>
    </div>
  </div>
</div>